@paleturquoise:#2af5eb;
@purple:#780ee3;
@amarrilo:#f5ed11;
@rojo:#e80e0e;
@verde:#47e802;

.margen(@top: 0px,@bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
    
}


.jumbotron{
    background-color:$paleturquoise;
    .margen(40px,10px )
    
}
.nahotel{
    
    padding-right: 10px;
    border-right: 3px solid white;
}
.nahote{
    color:$paleturquoise;
}

footer{
    padding: 5px 10px 0 10px;
    background-color: lightyellow;
    margin-top: 10px;

}
.card-hotel{
    flex: 1 150px;
    
}
.btnR{
    width: 100%;
}
h2,h3{
    color: $purple;
}

.footer-address-icon{
    padding-right: 15px;
}

.button-icon{
    padding-right: 5px;
}

.footer-icon{
    padding-right: 20px;
    margin: 15px auto;

}

#Home_Inf{
    padding-bottom: 30px;
}